<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스터디룸 관리</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <style>
        .profile-image {
            width: 40px; /* 원하는 크기로 설정 */
            height: 40px; /* 원하는 크기로 설정 */
            object-fit: cover; /* 이미지 비율을 유지하며 잘라내기 */
            border-radius: 50%; /* 원형 이미지 */
        }
    </style>
</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

    <custom-sidebar></custom-sidebar>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- TopBar -->
            <custom-topbar th:attr="data-nickname=${nickname}, data-profile-image=${memberProfileImage}"></custom-topbar>
            <!-- TopBar End -->
            <!-- container fluid -->
            <div class="container-fluid">
                <div class="row">
                    <!-- 스터디룸 관리 -->
                    <div class="col-lg-12">
                        <div class="card mb-4">
                            <!-- Card Body -->
                            <div class="card-body">
                                <h4 class="font-weight-bolder" style="color: #FD7B38;">스터디룸 관리</h4>
                                <!-- 스터디 정보 수정 폼 -->
                                <form th:action="@{/api/studyRooms/{sno}/update(sno=${study.sno})}" method="post">
                                    <input type="hidden" name="_method" value="put"/>
                                    <!-- 스터디 이름 -->
                                    <div class="row mb-3">
                                        <label class="col-sm-2.5 col-form-label">스터디 이름</label>
                                        <div class="col-sm-8">
                                            <input name="studyName" type="text" class="form-control" th:value="${study.studyName}">
                                        </div>
                                    </div>
                                    <!-- 스터디 설명 -->
                                    <div class="row mb-3">
                                        <label class="col-sm-2.5 col-form-label">설명</label>
                                        <div class="col flex-grow-1">
                                            <input name="studyDescription" type="text" class="form-control" th:value="${study.studyDescription}">
                                        </div>
                                    </div>
                                    <!-- 스터디 일정 -->
                                    <div class="row mb-3">
                                        <label class="col-sm-2.5 col-form-label">일정</label>
                                        <div class="col d-flex">
                                            <input name="studyPlan" type="text" class="form-control mr-1" th:value="${study.studyPlan}">
                                        </div>
                                    </div>
                                    <!-- 스터디 시작일 -->
                                    <div class="row mb-3">
                                        <label class="col-sm-2.5 col-form-label">스터디 시작일</label>
                                        <div class="col-sm-8">
                                            <input name="firstDate" type="date" class="form-control" th:value="${study.firstDate}">
                                        </div>
                                    </div>
                                    <!-- 버튼들 -->
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success">수정하기</button>
                                        <a th:href="@{/api/studyRooms/{sno}/delete(sno=${study.sno})}" class="btn btn-danger" th:onclick="return confirm('정말로 삭제하시겠습니까?');">스터디 삭제</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- 스터디 멤버 목록 -->
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <!-- Card Body -->
                            <div class="card-body">
                                <h4 class="font-weight-bolder" style="color: #FD7B38;">스터디 멤버</h4>
                                <ul id="studyMembers" class="list-group">
                                    <li th:each="member : ${members}" class="list-group-item d-flex justify-content-between align-items-center">
                                        <img th:src="${member.memberProfileImage}" alt="프로필 이미지" class="profile-image rounded-circle mr-3 me-3" />
                                        <span class="flex-grow-1 font-weight-bolder fs-5 text-dark" th:text="${member.nickname}"></span>
                                        <button type="button" class="btn btn-danger btn-sm" th:onclick="'removeMember(' + \'' + ${member.email} + '\' + ')'">강제 퇴장</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- 참가 신청자 목록 -->
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <!-- Card Body -->
                            <div class="card-body">
                                <h4 class="font-weight-bolder" style="color: #FD7B38;">참가 신청자</h4>
                                <ul id="applicants" class="list-group">
                                    <li th:each="applicant : ${applicants}" class="list-group-item d-flex justify-content-between align-items-center">
                                        <img th:src="${applicant.memberProfileImage}" alt="프로필 이미지" class="profile-image rounded-circle mr-3 me-3" />
                                        <span class="flex-grow-1 font-weight-bolder fs-5 text-dark" th:text="${applicant.nickname}"></span>
                                        <button type="button" class="btn btn-success btn-sm" th:onclick="'acceptApplicant(' + \'' + ${applicant.email} + '\' + ')'">승인</button>
                                        <button type="button" class="btn btn-danger btn-sm" th:onclick="'rejectApplicant(' + \'' + ${applicant.email} + '\' + ')'">거절</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Page Wrapper -->
            <custom-study-create-modal></custom-study-create-modal>
            <custom-study-info-modal></custom-study-info-modal>
            <custom-user-drop-modal></custom-user-drop-modal>
            <custom-setting-modal></custom-setting-modal>
            <custom-scroll-top-btn></custom-scroll-top-btn>
        </div>
    </div>
</div>

<!-- sidebar & topbar & 스크롤 컴포넌트화 -->
<script th:src="@{js/component/sidebar.js}"></script>
<script th:src="@{js/component/topbar.js}"></script>
<script th:src="@{js/component/scrollTopButton.js}"></script>
<!-- PopupComponent -->
<script th:src="@{js/component/studyCreateModal.js}"></script>
<script th:src="@{js/component/studyInfoModal.js}"></script>
<script th:src="@{js/component/userDropModal.js}"></script>
<script th:src="@{js/component/userSettingModal.js}"></script>
<script th:src="@{js/component/todoList.js}"></script>
<!-- 캘린더 -->
<script th:src="@{js/index.global.js}"></script>

<!-- 부트스트랩 JS (팝업을 위해 필요) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Bootstrap core JavaScript-->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{js/sb-admin-2.min.js}"></script>

<script>
    function removeMember(email) {
        fetch(`/api/studyMembers/${email}/remove`, { method: 'DELETE' })
            .then(response => {
                if (response.ok) {
                    location.reload(); // 성공 시 페이지를 새로고침하여 목록을 업데이트합니다.
                } else {
                    console.error('멤버 제거에 실패했습니다.');
                }
            });
    }

    function acceptApplicant(email) {
        fetch(`/api/studyApplicants/${email}/accept`, { method: 'POST' })
            .then(response => {
                if (response.ok) {
                    location.reload(); // 성공 시 페이지를 새로고침하여 목록을 업데이트합니다.
                } else {
                    console.error('신청 승인에 실패했습니다.');
                }
            });
    }

    function rejectApplicant(email) {
        fetch(`/api/studyApplicants/${email}/reject`, { method: 'POST' })
            .then(response => {
                if (response.ok) {
                    location.reload(); // 성공 시 페이지를 새로고침하여 목록을 업데이트합니다.
                } else {
                    console.error('신청 거절에 실패했습니다.');
                }
            });
    }
</script>
</body>
</html>
